.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $m-size;
}

.container--add-recipe-button {
  background-color: $lettuce;
  border: 0;
  border-bottom: 3px solid darken($lettuce, 10%);
  color: darken($steak, 10%);
  font-family: $cursive;
  font-size: $l-size;
  font-weight: bolder;
  margin-top: $xs-size;
  padding: $xxs-size;
  width: 100%;
}