html {
  font-size: 62.5%;
}

body {
  // background-color: $puff;
  background: url('../../public/bg-img.png') no-repeat center center fixed;;
  font-family: $sans;
}

h1 {
  font-size: $m-size;
}

ul {
  margin: 0;
  padding: 0;
}