// Colours

$choc : #774F38;
$strawb: #E08E79;
$creme: #F1D4AF;
$puff: #ECE5CE;
$blue : #C5E0DC;
$dark-blue: #041519;
$chilli: #F90023;
$steak: #713C34;
$lettuce: #4D7357;
$cashew: #E5A775;
$table: #BDB4AD;

// Fonts

@import url('https://fonts.googleapis.com/css?family=Gudea|Rancho');
$sans: 'Gudea', sans-serif;
$cursive: 'Rancho', cursive;

// Sizes
$xxs-size: 0.4rem;
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;